In [1]:
import random

import numpy as np
import pandas as pd

In [82]:
teams = {1: {'name': 'Miami Heat', 'rank': 1},
         2: {'name': 'Atlanta Hawks', 'rank':8},  #{'name': 'Cleveland Cavs', 'rank': 8},
         3: {'name': 'Philly 76ers', 'rank': 4},
         4: {'name': 'Toronto Raptors', 'rank': 5},
         5: {'name': 'Milwaukee Bucks', 'rank': 3},
         6: {'name': 'Chicago Bulls', 'rank': 6},
         7: {'name': 'Boston Celtics', 'rank': 2},
         8: {'name': 'Brooklyn Nets', 'rank': 7},
         9: {'name': 'Phoenix Suns', 'rank': 1},
         10: {'name': 'New Orleans Pelicans', 'rank': 8},   #{'name': 'LA Clippers', 'rank': 8},
         11: {'name': 'Dallas Mavericks', 'rank': 4},
         12: {'name': 'Utah Jazz', 'rank': 5},
         13: {'name': 'GS Warriors', 'rank': 3},
         14: {'name': 'Denver Nuggets', 'rank': 6},
         15: {'name': 'Memphis Grizzlies', 'rank': 2},
         16: {'name': 'Minnesota T-Wolves', 'rank': 7}}

round_1 = [(1,2), (3,4), (5,6), (7,8), (9,10), (11,12), (13,14), (15,16)]

In [25]:
# Setting probability weights based on seed (rank)
weight_max = 16

df = pd.DataFrame().from_dict(teams, orient='index')
df['weight'] = weight_max / df['rank']
score_df = df.copy()

In [6]:
def tally_series(scores):
    counter_dict = pd.Series({team_idx: 0 for team_idx in list(set(scores))})
    for game in scores:
        counter_dict[game] += 1
        if (counter_dict >= 4).any():
            print(f'Winner is: {counter_dict.idxmax()}')
            return counter_dict
#         print(counter_dict)

In [115]:
def simulate_round(df, round_n, round_matchups):
    df[f'round_{round_n}_score'] = None
    for match in round_matchups:
        print(f'Playing: {df.loc[match[0], "name"]} ({match[0]}) vs {df.loc[match[1], "name"]} ({match[1]})')
        game_pool = [match[0]] * 7 + [match[1]] * 7
        weights = [df.loc[match[0]]['weight']] * 7 + [df.loc[match[1]]['weight']] * 7
        series_score = pd.Series(game_pool).sample(7, weights=weights).values
#         print(f'pool: {game_pool}')
#         print(f'weights: {weights}')
        print(f'series results: {series_score}')
        series_result = tally_series(series_score)
        df.loc[series_result.index, f'round_{round_n}_score'] = series_result
    df[f'round_{round_n}_win'] = df[f'round_{round_n}_score'] == 4
    return df

def get_round_matchups(df, round_n):
    round_matchups = [(x, y) for x,y in zip(df[df[f'round_{round_n}_win']].index[::2],
                                            df[df[f'round_{round_n}_win']].index[1::2])]
    return round_matchups

def simulate_tournament(df, round_1_matchup):
    round_matchup = round_1_matchup
    for i in range(1, 5):
        print('---'*30, f'\n Round {i}')
        df = simulate_round(df, i, round_matchup)
        round_matchup = get_round_matchups(df, i)
    return df

In [101]:
# Setting probability weights based on seed (rank)
weight_max = 16

league_wt_df = pd.DataFrame().from_dict(teams, orient='index')
league_wt_df['weight'] = weight_max / league_wt_df['rank']
league_wt_df = simulate_tournament(league_wt_df, round_1)

------------------------------------------------------------------------------------------
 Round 1
Playing: Miami Heat (1) vs Atlanta Hawks (2)
series results: [1 1 1 1 2 1 1]
Winner is: 1
Playing: Philly 76ers (3) vs Toronto Raptors (4)
series results: [4 3 3 4 4 4 3]
Winner is: 4
Playing: Milwaukee Bucks (5) vs Chicago Bulls (6)
series results: [5 5 6 6 6 5 5]
Winner is: 5
Playing: Boston Celtics (7) vs Brooklyn Nets (8)
series results: [7 8 7 7 7 7 8]
Winner is: 7
Playing: Phoenix Suns (9) vs New Orleans Pelicans (10)
series results: [ 9  9  9  9  9  9 10]
Winner is: 9
Playing: Dallas Mavericks (11) vs Utah Jazz (12)
series results: [12 12 12 11 12 11 12]
Winner is: 12
Playing: GS Warriors (13) vs Denver Nuggets (14)
series results: [13 13 13 13 13 14 13]
Winner is: 13
Playing: Memphis Grizzlies (15) vs Minnesota T-Wolves (16)
series results: [15 15 15 15 16 15 15]
Winner is: 15
------------------------------------------------------------------------------------------
 Round 2
Playing: Miami Heat (1) vs Toronto Raptors (4)
series results: [1 1 1 1 1 4 1]
Winner is: 1
Playing: Milwaukee Bucks (5) vs Boston Celtics (7)
series results: [7 5 5 7 5 5 7]
Winner is: 5
Playing: Phoenix Suns (9) vs Utah Jazz (12)
series results: [ 9  9  9  9  9  9 12]
Winner is: 9
Playing: GS Warriors (13) vs Memphis Grizzlies (15)
series results: [15 13 15 15 13 13 13]
Winner is: 13
------------------------------------------------------------------------------------------
 Round 3
Playing: Miami Heat (1) vs Milwaukee Bucks (5)
series results: [1 1 1 5 1 1 1]
Winner is: 1
Playing: Phoenix Suns (9) vs GS Warriors (13)
series results: [13 13  9  9  9  9 13]
Winner is: 9
------------------------------------------------------------------------------------------
 Round 4
Playing: Miami Heat (1) vs Phoenix Suns (9)
series results: [9 1 9 9 9 1 1]
Winner is: 9

In [120]:
# Setting probability weights based on seed (rank)
weight_max = 8

conference_wt_df = pd.DataFrame().from_dict(teams, orient='index')
conference_wt_df['weight'] = weight_max / conference_wt_df['rank']
conference_wt_df = simulate_tournament(conference_wt_df, round_1)

------------------------------------------------------------------------------------------
 Round 1
Playing: Miami Heat (1) vs Atlanta Hawks (2)
series results: [1 1 1 1 1 2 2]
Winner is: 1
Playing: Philly 76ers (3) vs Toronto Raptors (4)
series results: [3 3 4 3 4 4 3]
Winner is: 3
Playing: Milwaukee Bucks (5) vs Chicago Bulls (6)
series results: [5 5 5 5 6 6 5]
Winner is: 5
Playing: Boston Celtics (7) vs Brooklyn Nets (8)
series results: [8 7 7 8 8 7 8]
Winner is: 8
Playing: Phoenix Suns (9) vs New Orleans Pelicans (10)
series results: [9 9 9 9 9 9 9]
Winner is: 9
Playing: Dallas Mavericks (11) vs Utah Jazz (12)
series results: [11 11 12 11 11 11 11]
Winner is: 11
Playing: GS Warriors (13) vs Denver Nuggets (14)
series results: [13 13 13 13 14 14 13]
Winner is: 13
Playing: Memphis Grizzlies (15) vs Minnesota T-Wolves (16)
series results: [16 15 15 15 15 16 16]
Winner is: 15
------------------------------------------------------------------------------------------
 Round 2
Playing: Miami Heat (1) vs Philly 76ers (3)
series results: [1 1 3 1 1 1 1]
Winner is: 1
Playing: Milwaukee Bucks (5) vs Brooklyn Nets (8)
series results: [5 8 5 5 5 5 8]
Winner is: 5
Playing: Phoenix Suns (9) vs Dallas Mavericks (11)
series results: [ 9  9 11  9 11 11  9]
Winner is: 9
Playing: GS Warriors (13) vs Memphis Grizzlies (15)
series results: [13 13 15 13 15 15 15]
Winner is: 15
------------------------------------------------------------------------------------------
 Round 3
Playing: Miami Heat (1) vs Milwaukee Bucks (5)
series results: [1 1 1 1 5 5 1]
Winner is: 1
Playing: Phoenix Suns (9) vs Memphis Grizzlies (15)
series results: [ 9 15  9 15  9 15  9]
Winner is: 9
------------------------------------------------------------------------------------------
 Round 4
Playing: Miami Heat (1) vs Phoenix Suns (9)
series results: [1 1 9 1 9 9 9]
Winner is: 9

In [125]:
# Setting probability weights based on seed (rank)
weight_max = 2

conference_wt_df = pd.DataFrame().from_dict(teams, orient='index')
conference_wt_df['weight'] = weight_max / conference_wt_df['rank']
conference_wt_df = simulate_tournament(conference_wt_df, round_1)

------------------------------------------------------------------------------------------
 Round 1
Playing: Miami Heat (1) vs Atlanta Hawks (2)
series results: [1 1 1 2 2 1 1]
Winner is: 1
Playing: Philly 76ers (3) vs Toronto Raptors (4)
series results: [3 4 4 3 4 4 4]
Winner is: 4
Playing: Milwaukee Bucks (5) vs Chicago Bulls (6)
series results: [5 5 6 5 5 6 5]
Winner is: 5
Playing: Boston Celtics (7) vs Brooklyn Nets (8)
series results: [7 7 7 7 7 7 7]
Winner is: 7
Playing: Phoenix Suns (9) vs New Orleans Pelicans (10)
series results: [ 9  9  9  9  9 10  9]
Winner is: 9
Playing: Dallas Mavericks (11) vs Utah Jazz (12)
series results: [11 12 11 12 11 12 12]
Winner is: 12
Playing: GS Warriors (13) vs Denver Nuggets (14)
series results: [14 13 13 14 13 14 13]
Winner is: 13
Playing: Memphis Grizzlies (15) vs Minnesota T-Wolves (16)
series results: [15 15 16 15 16 15 16]
Winner is: 15
------------------------------------------------------------------------------------------
 Round 2
Playing: Miami Heat (1) vs Toronto Raptors (4)
series results: [1 1 1 1 4 1 1]
Winner is: 1
Playing: Milwaukee Bucks (5) vs Boston Celtics (7)
series results: [5 7 5 7 5 7 7]
Winner is: 7
Playing: Phoenix Suns (9) vs Utah Jazz (12)
series results: [ 9  9  9  9  9  9 12]
Winner is: 9
Playing: GS Warriors (13) vs Memphis Grizzlies (15)
series results: [13 13 13 15 15 15 13]
Winner is: 13
------------------------------------------------------------------------------------------
 Round 3
Playing: Miami Heat (1) vs Boston Celtics (7)
series results: [7 7 1 7 1 1 1]
Winner is: 1
Playing: Phoenix Suns (9) vs GS Warriors (13)
series results: [9 9 9 9 9 9 9]
Winner is: 9
------------------------------------------------------------------------------------------
 Round 4
Playing: Miami Heat (1) vs Phoenix Suns (9)
series results: [9 9 1 1 9 9 9]
Winner is: 9

In [126]:
conference_wt_df

,name,rank,weight,round_1_score,round_1_win,round_2_score,round_2_win,round_3_score,round_3_win,round_4_score,round_4_win
1,Miami Heat,1,2.000000,4,True,4,True,4,True,2,False
2,Atlanta Hawks,8,0.250000,2,False,None,False,None,False,None,False
3,Philly 76ers,4,0.500000,2,False,None,False,None,False,None,False
4,Toronto Raptors,5,0.400000,4,True,0,False,None,False,None,False
5,Milwaukee Bucks,3,0.666667,4,True,3,False,None,False,None,False
6,Chicago Bulls,6,0.333333,1,False,None,False,None,False,None,False
7,Boston Celtics,2,1.000000,4,True,4,True,3,False,None,False
8,Brooklyn Nets,7,0.285714,None,False,None,False,None,False,None,False
9,Phoenix Suns,1,2.000000,4,True,4,True,4,True,4,True
10,New Orleans Pelicans,8,0.250000,0,False,None,False,None,False,None,False
11,Dallas Mavericks,4,0.500000,3,False,None,False,None,False,None,False
12,Utah Jazz,5,0.400000,4,True,0,False,None,False,None,False
13,GS Warriors,3,0.666667,4,True,4,True,None,False,None,False
14,Denver Nuggets,6,0.333333,3,False,None,False,None,False,None,False
15,Memphis Grizzlies,2,1.000000,4,True,3,False,None,False,None,False
16,Minnesota T-Wolves,7,0.285714,2,False,None,False,None,False,None,False

In [112]:
equal_wt_df = pd.DataFrame().from_dict(teams, orient='index')
equal_wt_df['weight'] = 1
equal_wt_df = simulate_tournament(equal_wt_df, round_1)

------------------------------------------------------------------------------------------
 Round 1
Playing: Miami Heat (1) vs Atlanta Hawks (2)
series results: [1 1 2 2 1 2 1]
Winner is: 1
Playing: Philly 76ers (3) vs Toronto Raptors (4)
series results: [3 3 4 4 3 3 4]
Winner is: 3
Playing: Milwaukee Bucks (5) vs Chicago Bulls (6)
series results: [6 5 5 5 5 6 5]
Winner is: 5
Playing: Boston Celtics (7) vs Brooklyn Nets (8)
series results: [8 8 8 7 7 7 7]
Winner is: 7
Playing: Phoenix Suns (9) vs New Orleans Pelicans (10)
series results: [10  9 10 10 10  9 10]
Winner is: 10
Playing: Dallas Mavericks (11) vs Utah Jazz (12)
series results: [12 12 12 12 12 11 11]
Winner is: 12
Playing: GS Warriors (13) vs Denver Nuggets (14)
series results: [14 14 13 14 14 13 13]
Winner is: 14
Playing: Memphis Grizzlies (15) vs Minnesota T-Wolves (16)
series results: [15 16 15 15 16 15 16]
Winner is: 15
------------------------------------------------------------------------------------------
 Round 2
Playing: Miami Heat (1) vs Philly 76ers (3)
series results: [3 1 3 3 3 3 1]
Winner is: 3
Playing: Milwaukee Bucks (5) vs Boston Celtics (7)
series results: [5 5 7 7 7 7 5]
Winner is: 7
Playing: New Orleans Pelicans (10) vs Utah Jazz (12)
series results: [10 12 10 12 12 12 12]
Winner is: 12
Playing: Denver Nuggets (14) vs Memphis Grizzlies (15)
series results: [15 14 15 14 14 15 14]
Winner is: 14
------------------------------------------------------------------------------------------
 Round 3
Playing: Philly 76ers (3) vs Boston Celtics (7)
series results: [3 7 7 7 7 3 3]
Winner is: 7
Playing: Utah Jazz (12) vs Denver Nuggets (14)
series results: [14 14 12 12 12 12 14]
Winner is: 12
------------------------------------------------------------------------------------------
 Round 4
Playing: Boston Celtics (7) vs Utah Jazz (12)
series results: [12  7 12  7  7 12 12]
Winner is: 12

In [127]:
# Tiebreaker is mean of:  the mean points scored per game and mean opponents points allowed per game
mia = (110 + 107.3) / 2
phx = (114.8 + 105.6) / 2
mia + phx

218.85

In [67]:
# Round 1 Simulation
score_df = simulate_round(score_df, 1, round_1)
round_2 = get_round_matchups(score_df, 1)

Playing: Miami Heat (1) vs Cleveland Cavs (2)
series results: [1 1 1 1 1 2 2]
Winner is: 1
Playing: Philly 76ers (3) vs Toronto Raptors (4)
series results: [3 3 3 3 3 4 3]
Winner is: 3
Playing: Milwaukee Bucks (5) vs Chicago Bulls (6)
series results: [5 5 6 5 6 5 6]
Winner is: 5
Playing: Boston Celtics (7) vs Brooklyn Nets (8)
series results: [7 7 7 7 8 8 7]
Winner is: 7
Playing: Phoenix Suns (9) vs LA Clippers (10)
series results: [ 9  9  9  9  9  9 10]
Winner is: 9
Playing: Dallas Mavericks (11) vs Utah Jazz (12)
series results: [11 12 12 12 11 11 11]
Winner is: 11
Playing: GS Warriors (13) vs Denver Nuggets (14)
series results: [14 13 13 14 13 13 13]
Winner is: 13
Playing: Memphis Grizzlies (15) vs Minnesota T-Wolves (16)
series results: [15 15 16 15 15 15 15]
Winner is: 15

In [68]:
# Round 2 simulation
score_df = simulate_round(score_df, 2, round_2)
round_3 = get_round_matchups(score_df, 2)

Playing: Miami Heat (1) vs Philly 76ers (3)
series results: [3 1 1 1 1 1 1]
Winner is: 1
Playing: Milwaukee Bucks (5) vs Boston Celtics (7)
series results: [5 5 7 5 5 7 7]
Winner is: 5
Playing: Phoenix Suns (9) vs Dallas Mavericks (11)
series results: [11  9  9  9  9  9  9]
Winner is: 9
Playing: GS Warriors (13) vs Memphis Grizzlies (15)
series results: [15 15 13 15 13 15 13]
Winner is: 15

In [69]:
# Round 3 simulation
score_df = simulate_round(score_df, 3, round_3)
round_4 = get_round_matchups(score_df, 3)

Playing: Miami Heat (1) vs Milwaukee Bucks (5)
series results: [1 5 5 1 5 1 1]
Winner is: 1
Playing: Phoenix Suns (9) vs Memphis Grizzlies (15)
series results: [15  9  9  9  9 15  9]
Winner is: 9

In [70]:
# Round 4 simulation 
score_df = simulate_round(score_df, 4, round_4)

Playing: Miami Heat (1) vs Phoenix Suns (9)
series results: [9 9 1 1 9 9 9]
Winner is: 9

In [72]:
score_df.T

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
name,Miami Heat,Cleveland Cavs,Philly 76ers,Toronto Raptors,Milwaukee Bucks,Chicago Bulls,Boston Celtics,Brooklyn Nets,Phoenix Suns,LA Clippers,Dallas Mavericks,Utah Jazz,GS Warriors,Denver Nuggets,Memphis Grizzlies,Minnesota T-Wolves
rank,1,8,4,5,3,6,2,7,1,8,4,5,3,6,2,7
weight,16,2,4,3.2,5.33333,2.66667,8,2.28571,16,2,4,3.2,5.33333,2.66667,8,2.28571
round_1_wins,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
round_1_score,4,0,4,0,4,2,4,0,4,0,4,3,4,2,4,1
round_1_win,True,False,True,False,True,False,True,False,True,False,True,False,True,False,True,False
round_2_wins,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
round_2_score,4,NaN,1,NaN,4,NaN,1,NaN,4,NaN,1,1,2,0,4,NaN
round_2_win,True,False,False,False,True,False,False,False,True,False,False,False,False,False,True,False
round_3_wins,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
round_3_score,4,NaN,NaN,NaN,3,NaN,2,NaN,4,NaN,NaN,NaN,0,NaN,1,NaN
round_3_win,True,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False
round_4_wins,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
round_4_score,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
round_4_win,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False